*{
  box-sizing: border-box;
}

html{
  background: url(cloudy-sky.png) no-repeat center  fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body{
  background: none;
}

img{
  max-width: 100%;
}

.container{
  background: none;
  display: flex;
  height: 60vh;
  z-index: -1;
  flex-direction: column;
}

.container img{
  display: block;
  max-height: 300%;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

section{
  z-index: 3;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section .set{
  position: absolute;
  width: 100%;
  height: 100%
  top: 0;
  left: 0;
  pointer-events: none;
}
section .set div{
  position: fixed;
  display: block;
}

section .set div:nth-child(1){
  left: 20%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
}

section .set div:nth-child(2){
  left: 20%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}

section .set div:nth-child(3){
  left: 20%;
  max-width: 15%;
  animation: animate 20s linear infinite;
  animation-delay: -10s;
}

section .set div:nth-child(4){
  left: 20%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -15s;
}

section .set div:nth-child(5){
  left: 20%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -2.5s;
}

section .set div:nth-child(6){
  left: 20%;
  width: 30%;
  animation: animate 20s linear infinite;
  animation-delay: -8s;
}

section .set div:nth-child(7){
  left: 10%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -12.5s;
}

section .set div:nth-child(8){
  left: 20%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -17.5s;
}

section .set div:nth-child(9){
  left: 20%;
  max-width: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -2.5s;
}

@keyframes animate {
  0%
  {
    display: block;
    left:5%;
    top: 200px;
    opacity: 1;
    transform: scale(80%) rotate(0deg);
  }

  25%
  {
    display: block;
    left:50%;
    top: 575px;
    opacity: 1;
    transform: scale(90%) rotate(7deg);
  }

  50%
  {
    display: block;
    left:80%;
    top: 150px;
    opacity: 1;
    transform: scale(70%) rotate(0deg);
  }

  75%
  {
    display: block;
    left:40%;
    top: 10px;
    opacity: 1;
    transform: scale(60%) rotate(-7deg);
  }

  100%
  {
    display: block;
    left:5%;
    top: 200px;
    opacity: 1;
    transform: scale(80%) rotate(0deg);

  }
}
